// TOPBAR

.topbar{
    .container{
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;
    }
}


// NAVBAR
nav{
    .container{
        .nav-block{
            padding-top: 30px;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
        }
   
    .navbar-ul{
        margin-top: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        .nav-link{
            font-weight: 700;
            font-size: 18px;
        }
        a{
            position: relative;
            color: #000;
        }
        .nav-item a::before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: 0.2s;
            transform: scaleX(0);
          }
          .nav-item a:hover:before {
            transform: scaleX(1);
          }
          .btn-nav{
            background-color: #2d3663;
            border-radius: 20px;
            padding: 0 10px;
            a{
                color: #fff;
               text-decoration: none;
            }
            transition: .3s;
          }
          .btn-nav:hover{
              border: 2px solid #2d3663;
              a{
                  color: #000;
              }
          }
          i{
              transition: .3s;
              position: relative;
          }
          .btn-nav:hover .nav-link i {
            padding-left: 5px !important;
            color: #2d3663;
        }
    }
    }
}

// HEADER


// ABOUT

.about{
    margin-top: 100px;
    .container{
        .about-block{
            display: grid;
            grid-template-columns: 1fr 1fr;
            p{
                color: #828282;
                font-size: 17px;
                padding-top: 15px;
                span{
                  display: block;
                }
            }
            h1{
              border-left: 1px solid #0AAEF5;
              padding-left: 30px;
                color: #075095;
                span{
                  font-weight: 300;
                }
            }
            article{
                background-image: url(../assets/images/euroclinic.jpg.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                width: 550px;
                border-radius: 50%;
            }

              .tile {
                width: 100%;
                height: 100%;
                background-color: #dfa;
                margin-bottom: 1em;
              }

        }
    }
}

// MAIN

.main{
  margin-top: 100px;
  .container{
    .main-block{
      .main-block__caption{
        color: #075095;
      }
      .main-items{
        list-style: outside;
        span{
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}

#slider{
  .container{
    /*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/*Стили для демонстрации*/
html,body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 25px;
}
.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}



/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	width: 250px;
  height: 200px;
}
  }
}




@media (max-width: 1020px) {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #000 !important;
  }
  .about-block{
    display: grid;
    grid-template-columns: 1fr !important;
    h1{
      padding-left: 0 !important;
      border-left: none !important;
      border-top: 1px solid #075095;
    }
    article{
      display: none;
    }
}
  .hamburger-white, .hamburger-white::before, .hamburger-white::after{
    background-color: rgb(110, 104, 104) !important;
  }
  .pics {
    display: inline-block;
    background-color: #000;
    width: 160px;
    height: 120px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr !important;
  }
}

  
