.doctors{
    margin-top: 100px;
    .container{
        .doctors-block{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            article{
                position: relative;
                width: 270px;   
                p{
                    font-size: 14px;
                    font-weight: 500;
                    padding-top: 15px;
                    color: #222222;
                }
                cursor: pointer;
            }
            article::before {
                content: '';
                bottom: -10px;
                left: 0;
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: #000;
                transition: 0.2s;
            }
            article:hover:before {
                width: 100%;
            }
            .image{
                width: 250px;
                height: 250px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .image-one{
                background-image: url(../assets/images/nail.jpg);
               
            }
            .image-two{
                background-image: url(../assets/images/aziz.jpg);
            }
            .image-three{
                background-image: url(../assets/images/alisher.jpg);
            }
            .image-four{
                background-image: url(../assets/images/bobur.jpg);
            }
            .image-five{
                background-image: url(../assets/images/shohruh.jpg);
            }
            .image-six{
                background-image: url(../assets/images/muhammed.jpg);
            }
        }
        .change-doctors{
            button{
                display: block;
                margin: 10px 0px;
                border: none;
                padding: 5px;
                width: 100%;
                transition: .2s;
            }
            button:hover{
                background-color: #075095;
                color: #fff;
            }
        }
    }
}