#header{
    margin-top: 20px;
    .dark-owerlay{
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
        background-color: rgba(0,0,0,0.1);
    }
    background-image: url(../assets/images/silde-1.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        .header{
            margin-top: 50px;
            color: #fff;
            padding: 100px;
            h3{
                margin-top: 20px;
                color: #0AAEF5;
            }
            p{
                font-size: 30px !important;
                font-size: 18px;
                font-weight: 500;
            }
            .btn-nav{
                background-color: #2d3663;
                border-radius: 20px;
                border: none;
                padding: 10px 30px;
                color: #fff;
                transition: .3s;
                font-weight: 700;
                font-size: 18px;
              }
              i{
                  transition: .3s;
                  padding-left: 10px;
              }
              .btn-nav:hover{
                  background-color: #fff;
                  color: #000;
              }
              .btn-nav:hover i {
                  margin-left: 5px !important;
                  color: #2d3663;
              }
              .col-sm-1{
                  margin-left: -100px;
              }
        }
}

// HEADER END

// ABOUT START

#about{
    margin-top: 100px;
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .about-block{
            article{
                display: flex;
                svg{
                    color: #0AAEF5;
                }
                h1{
                    padding-left: 10px;
                }
            }
            p{
                font-size: 20px;
                padding-top: 14px;
            }
            .btn-nav{
                margin-top: 50px;
            }
            .btn-nav:hover {
                background-color: #fff;
                border: 2px solid #2d3663;
            }
            span{
                font-weight: 900;   
                cursor: pointer;
                display: inline-block;
                transition: .3s;
            }
            span:hover{
                margin-top: 10px !important; 
            }
        }
        img{
            max-width: 80%;
            max-height: 600px;
            margin-left:80px;
        }
    }
}

// ABOUT END

// SERVICES START



// SERVICES END

// WHY WE START

#why{
    .container{
        .line-h3{
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .why-block__content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            margin-top: 40px;
        .icon-xlg.icon-bordered {
            width: 130px;
            height: 130px;
            line-height: 128px;
            font-size: 70px;
            margin: 0 auto;
        }
        .icon-border-gradient {
            border: 3px solid rgba(111, 81, 199, 0.1);
            border-radius: 50%;
        }
        h4{
            color: #000;
            padding-top: 40px !important;
            cursor: pointer;
            transition: .3s;
        }
        h4:hover{
            color: #34b8c0;
        }
        p{
            color: #868686;
        }
        }
    }
}

// WHY WE END

// DOCTORS START

#doctors{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        .doctors-block{
            justify-content: space-between;
            margin-top: 100px;
            article{
                transition: .3s;
                cursor: pointer;
                transform: scale(1);
                padding: 20px 0px;
                background-color: #EDF3F6;
                border-radius: 15px;
                text-align: center;
                
                span{
                    width: 270px;
                    height: 260px;
                    border-radius: 50%;
                    border: 10px solid whitesmoke;
                    transition: .3s;
                    cursor: pointer;
                    margin: 0 auto;
                }
                span:hover{
                    box-shadow: 0 0 20px rgb(0, 0, 0 / 10%);
                }

                h5{
                    text-transform: inherit;
                    background-color: #34b8c0;
                    color: #fff;
                    margin: 20px auto;
                    padding: 4px;
                    border-radius: 10px;
                }
                h4{
                    font-size: 20px;
                }
                h3{
                    color: #0AAEF5 !important;
                }
                p{
                    color: #868686;
                    padding-top: 20px;
                }
                i{
                    transition: .3s;
                }
                a:hover{
                    background-color: #2d3663 !important;
                    color: #fff;
                    i{
                        color: #fff;
                    }
                }
            }
            article:hover{
                transform: scale(1.1);
            }
            article:first-child{
                span{
                    display: inline-block;
                    width: 200px;
                    height: 200px;
                    background-image: url(../assets/images/IMG_9077.JPG);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    background-position: center;
                }
            }
            article:nth-child(2){
                span{
                    display: inline-block;
                    width: 200px;
                    height: 200px;
                    background-image: url(../assets/images/IMG_9768.JPG);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    background-position: center;
                }
            }
            article:last-child{
                span{
                    display: inline-block;
                    width: 200px;
                    height: 200px;
                    background-image: url(../assets/images/IMG_7349.HEIC);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    background-position: center;
                }
            }
            
        }
    }
}

// DOCTORS END

// MAP START

#map{
    a{
        margin-top: 100px !important;
    }
}

@media (max-width: 400px) {
    .header{
        margin-left: -55px;
    }
}