#header {
  margin-top: 20px;
  background-image: url("../assets/images/IMG_0693.JPEG");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
}

#header .header {
  padding: 70px 100px;
}

#header .header .btn {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

#header .header i {
  -webkit-transition: .3s;
  transition: .3s;
}

#header .header .btn:hover {
  background-color: #2d3663;
  border: none;
}

#header .header .btn:hover i {
  margin-left: 10px !important;
}

#header .header .title {
  width: 300px;
}

#header .header .title h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

#about {
  margin-top: 100px;
}

#about .container .about-block__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .container .about-block__inner .about-block {
  width: 100%;
}

#about .container .about-block__inner .about-block article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .container .about-block__inner .about-block article svg {
  color: #0AAEF5;
}

#about .container .about-block__inner .about-block article h1 {
  padding-left: 10px;
}

#about .container .about-block__inner .about-block p {
  font-size: 18px;
  padding-top: 14px;
  font-weight: 600;
}

#about .container .about-block__inner .about-block .btn-nav {
  margin-top: 50px;
}

#about .container .about-block__inner .about-block .btn-nav:hover {
  background-color: #fff;
  border: 2px solid #2d3663;
}

#about .container .about-block__inner .about-block span {
  font-weight: 900;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

#about .container .about-block__inner .about-block span:hover {
  margin-top: 10px !important;
}

#about .container .about-block__inner img {
  max-width: 80%;
  max-height: 600px;
  margin-left: 80px;
}

#why .container .line-h3 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#why .container .why-block__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 40px;
}

#why .container .why-block__content .icon-xlg.icon-bordered {
  width: 130px;
  height: 130px;
  line-height: 128px;
  font-size: 70px;
  margin: 0 auto;
}

#why .container .why-block__content .icon-border-gradient {
  border: 3px solid rgba(111, 81, 199, 0.1);
  border-radius: 50%;
}

#why .container .why-block__content h4 {
  color: #000;
  padding-top: 40px !important;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#why .container .why-block__content h4:hover {
  color: #34b8c0;
}

#why .container .why-block__content p {
  color: #868686;
}

#doctors {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#doctors .container .doctors-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

#doctors .container .doctors-block article {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 20px 0px;
  background-color: #EDF3F6;
  border-radius: 15px;
  text-align: center;
}

#doctors .container .doctors-block article span {
  width: 270px;
  height: 260px;
  border-radius: 50%;
  border: 10px solid whitesmoke;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin: 0 auto;
}

#doctors .container .doctors-block article span:hover {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

#doctors .container .doctors-block article h5 {
  text-transform: inherit;
  background-color: #34b8c0;
  color: #fff;
  margin: 20px auto;
  padding: 4px;
  border-radius: 10px;
}

#doctors .container .doctors-block article h4 {
  font-size: 20px;
}

#doctors .container .doctors-block article h3 {
  color: #0AAEF5 !important;
}

#doctors .container .doctors-block article p {
  color: #868686;
  padding-top: 20px;
}

#doctors .container .doctors-block article i {
  -webkit-transition: .3s;
  transition: .3s;
}

#doctors .container .doctors-block article a:hover {
  background-color: #2d3663 !important;
  color: #fff;
}

#doctors .container .doctors-block article a:hover i {
  color: #fff;
}

#doctors .container .doctors-block article:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#doctors .container .doctors-block article:first-child span {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../assets/images/IMG_9077.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}

#doctors .container .doctors-block article:nth-child(2) span {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../assets/images/IMG_9768.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}

#doctors .container .doctors-block article:last-child span {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../assets/images/IMG_73494.heic);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}

#map a {
  margin-top: 100px !important;
}

@media (max-width: 991px) {
  #header .header {
    margin-left: -100px;
  }
  #header .header .btn {
    font-size: 14px;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    border-radius: 0;
    border-radius: 0 0 0 5px;
    border-color: #075095;
    color: #ffffff;
    background-color: #075095;
  }
  #header .header h3 p {
    font-size: 30px;
  }
  .record-text {
    display: none !important;
  }
}

@media (max-width: 800px) {
  #about .about-block__inner {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media (max-width: 500px) {
  #header .header {
    margin-left: -60px;
    padding: 20px 0px !important;
  }
  #header .header .btn {
    top: 20px !important;
  }
  .record-text {
    display: none !important;
  }
  h3 {
    font-size: 17px !important;
  }
  .footer-block {
    margin-left: -30px;
  }
  #about {
    margin-top: -200px;
  }
}

@media (max-width: 400px) {
  #about {
    margin-top: -300px;
  }
}
/*# sourceMappingURL=index.css.map */