.price-block{
    margin-top: 100px;
    .container{
        .price-block__inner{
            display: flex;
            justify-content: space-between;
            .block{
                h1{
                    color: #075095;
                }
                p{
                    font-weight: 600;
                    font-size: 18px;
                    a{
                        color: #000;
                        font-weight: 600;
                        padding-bottom: -20px !important;
                    }
                }
                .accordion{
                    .card{
                        background-color: #fff;
                        cursor: pointer;
                        margin-bottom: 5px;
                        font-weight: 500;
                        border: 1px solid rgba(0,0,0,.125);
                        .card-header{
                            text-align: left;
                            background-color: #fff;
                            transition: .3s;
                            color: #075095;
                            strong{
                                font-size: 17px;
                            }
                        }
                        .card-header:hover{
                            background-color: #075095;
                            color: #fff;
                        }
                        .card-body{
                            color: #000;
                            ul{
                                list-style: inherit;
                            }
                        }
                    }
                }
            }
            .form{
                background-color: #075095 !important;
                padding: 20px;
                color: #fff;
                text-align: center;
                margin-right: 100px;
                height: 500px;
                h1{
                    padding-bottom: 10px;
                    font-size: 35px;
                }
                form{
                    margin-top: 20px;
                    input, textarea, select{
                        background-color: rgba(255,255,255,.5);
                        opacity: .8;
                        border: none;
                        border-radius: 0px;
                        color: #fff;
                    }
                    ::-webkit-input-placeholder {
                        color:#fff;
                    }
                    .name{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 15px;
                    }
                    select{
                        width: 100%;
                        border: none;
                        border-radius: 0px;
                        background-color: rgba(255,255,255,.5);
                        padding: 8px 0px;
                        color: #fff;
                        option{
                            color: #000;
                        }
                    }
                    .btn-form{
                        border: 1px solid #fff;
                        background-color: #075095;
                        color: #fff;
                        width: 100%;
                        padding: 10px 0px;
                        transition: .2s;
                    }
                    .btn-form:hover{
                        background-color: #fff;
                        color: #075095;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }
}